<% layout("layouts/boilerPlate2") -%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard/<%= user.username %>">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/dashboard/<%= user.username %>/compose">Compose</a>
                    <a class="nav-link" href="#">Inbox</a>
                    <a class="nav-link" href="/dashboard/<%= user.username %>/profile">Profile</a>
                    <a class="nav-link" href="/login">logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card text-center col-10 col-md-6 col-xl-4 mt-3">
                <div class="card-header">
                    <h5 class="card-title">SIGN UP</h5>
                </div>
                <div class="card-body">
                    <form id="form" novalidate action="/dashboard/<%= user.username %>/profile/edit" method="post">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" required value="<%= user.fname %>" id="fname"
                                name="fname" placeholder="First Name">
                            <label for="fname">First Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" required value="<%= user.lname %>" id="lname"
                                name="lname" placeholder="Last Name">
                            <label for="lname">Last Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" required value="<%= user.email %>" id="email"
                                name="email" placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" required value="<%= user.epass %>" id="epass"
                                name="epass" placeholder="Email Password">
                            <label for="epass">Email Password</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="tel" class="form-control" id="no" required value="<%= user.no %>" name="no"
                                placeholder="Phone Number">
                            <label for="no">Phone Number</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" required value="<%= user.username %>" id="username"
                                name="username" placeholder="User Name">
                            <label for="username">User Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" required value="<%= user.pass %>" id="pass"
                                name="pass" placeholder="Password">
                            <label for="pass">Password</label>
                        </div>
                        <div>
                            <button id="register" class="btn btn-primary mt-2">save changes</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <script>
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('#form')

                // Loop over them and prevent submission
                Array.from(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>